body{
    background-color: green;
    margin: 0;
    text-align: center;
   
    
}
.box1{
    width: 50%;
    height: 100%;
    background-color: black;
    float: left;
    position: absolute;
    top: 0;
    left:  0;
 
}
.box2{
    width: 50%;
    height: 100%;
    background-color:black;
    
    float: right;
    position: absolute;
    top: 0;
    right: 0;
     
}
.myimg{
    height: 100%;
    width: 100%;
}
.context{
    color: whitesmoke;
    position: relative;
    top: 300px;
    width: 50%;
    margin: 5px auto 10px auto;
    font-size: 20px;
        
}
p{
    line-height: 2;
    font-family: 'Open Sans Condensed', sans-serif;
}
.header{
    font-size: 60px;
    color: whitesmoke;
    position: relative;
    top: 200px;
    font-family: 'Limelight', cursive;
    
   
    margin: 5px auto 10px auto;
        
}
.bottom{
    position: absolute;
    bottom: 100px;
    
    left: 160px;
    
    
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 0px 0px 0px #000000;
    font-family: Arial;
    color: whitesmoke;
    font-size: 20px;
    
    background: transparent;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 2px solid #fff;
  }
  
  .btn:hover {
    background: #ffffff;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    
  }
  a{
      margin: 10px 20px;
  }